/* Universal selector */

* {

}

/* Element selectors */ 
header {
  background-color: rgb(30, 187, 174);
  color: black;
  flex-wrap: wrap;
}
nav {
  background-color: rgb(30, 187, 174);
  flex-wrap: wrap;
}



/* Class selectors */

/* Card Container */
.cards {

    position: relative;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
  }

/* Individual Card Styling */

.card {
    position: relative;
    overflow: hidden;
    display: flex column;
  
    width: 50%;
    height: 250px;
    color: white;

}

/* Unique attribute value of first elemeent that uses card class.  Double regular card width Styling */

.card:nth-child(1){
  width: 100%;

}


.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  align-items: stretch;
}

/* opacity when over whole card */

.card:hover .cardTop  {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  max-width: 100%;
  background-color: white;
  opacity: 0.5;
  color: black;
}

/* opacity when over card top */

.card .cardTop:hover  {
    opacity: 1;
}

/* ID selectors */

/* aboutme container */

.aboutMeContainer {

  position: relative;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  }


.aboutMeCard {
    position: relative;
    overflow: visible;
    display: column;
  
    width: 100%;
    height: 250px;


}


.aboutMeCard img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  align-items: stretch;
}

.aboutMeCardTop {
  position: relative;
}

#profilepic {
  position:absolute;
  display: flex;
  overflow: hidden;
  height: 250px;
  top: 0;
  right: 0;
  width: 20%;
  
}
.aboutMeCard:hover #profilepic {
  height: 0px;
  width: 0px;
}
.aboutMeCard:hover .aboutMeCardTop {
  position: absolute;
  flex-wrap: wrap;
  display: flex wrap;
  top: 0;
  left: 0;
  width: auto;
  max-width: auto;
  background-color: darkgray;
  color: white;
  opacity: 0.5;
 
}


.aboutMeCard .aboutMeCardTop:hover {

  opacity: 0.9;
}

/* Contact section selectors */
.contactContainer {

  position: relative;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  }


.contactCard {
    position: relative;
    overflow: visible;
    display: column;
  
    width: 100%;
    height: 250px;


}


.contactCard img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  align-items: stretch;
}

.contactCardTop {
  position: relative;
}

#profilepic {
  position:absolute;
  display: flex;
  overflow: hidden;
  height: 250px;
  top: 0;
  right: 0;
  width: 20%;
  
}

.contactCard:hover .contactCardTop {
  position: absolute;
  flex-wrap: wrap;
  display: flex wrap;
  top: 0;
  left: 0;
  width: 100%;
  max-width: auto;
  color: white;
  background-color: darkgray;
  opacity: 0.5;
 
}


.contactCard .contactCardTop:hover {
  width: 100%;
  opacity: 0.9;
}

/* media query */

@media  (max-width: 768px) {
    section {
        display: flex;
    
    }

    .card {
      width: 100%;
    }
    }

